.photo-gallery {
    padding: 2rem;
    background: #fff;
}

.photo-gallery__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1120px;
    width: 95%;
    margin: 0 auto;
}

.photo-gallery__img__container {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}

.photo-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1200px) {
    .photo-gallery__container {
        width: 95%;
    }
}

@media only screen and (min-width: 1024px) {
    .photo-gallery__container {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .photo-gallery__img__container {
        margin-bottom: 2rem;
    }
}